<html>
	<head>
		<title>ModBuddy Analysis</title>
		<link href="https://fonts.googleapis.com/css?family=Coda|Source+Sans+Pro" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
		<h1>ModBuddy Comment Analysis REST Api</h1>
		<form action='analyze' method='POST'>
			Comment Text:<br/><br/>
			<input type='text' name='comment-text'>
			<input type='hidden' name='request-type' value='web'>
			<input type='submit' name='Submit'>
		</form>
		{% if results %}
		<br/><br/><p align=center><h1>Analysis Results:</h1><br/>Comment Text: {{ commentText }}<br/><br/>{{ results }}<br/></p>
		{% endif %}
	</body>
</html>

